html, body, div, h1, h2, h4, header, p, nav, ul, ol, li{
	margin: 0;
	padding: 0;	
	border: 0 none;
	outline: 0 none;
	font-size: 100%;
}
/* set body color*/
body{
	/** 采用rgb模式，IE8及以下浏览器可以识别*/
	background-color: rgb(240, 240, 235);
	color: rgb(0, 0, 37);
	font-family: "微软雅黑","Arial","Helvetica",sans-serif;
	/* font-size: 1em; */
}

/* set ul and ol style*/
ol, ul{
	list-style: none;
}

a {
	text-decoration: none;
	color: rgb(143, 138, 124);
	background-color: rgba(0, 0, 0, 0);
}

blockquote {
	font-style: italic;
}

/** To change the color when select the text **/
*::selection {
	background: #0099cc;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #FF5F3E;
    color: #0099cc;
}

.l {
	float: left;
}

/** change the pointer style **/
html {
	cursor: url("../images/pencil.png"),auto;
}

/** in order to let IE 6-8 support html5*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video { 
	display: inline-block; 
	/* *display: inline;  */
	/*zoom: 1;  */
	height: 1%;
}

#container{
	background-color: rgb(235, 233, 226);
	width: 80%;
	color: rgb(0, 0, 37);
	/*设置阴影*/
	/**
	    -webkit-box-shadow: 0 0 8px 4px #DDD;
	    -moz-box-shadow: 0 0 8px 4px #DDD;
		box-shadow: 0 0 8px 4px #DDD;           去掉，不然的话会导致浏览器不断重绘
	**/
	/* IE<=8不支持此属性 */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}	
.header {
	padding-left: 10px;
	position: relative;
	border: 1px dashed #DDD6C5;
	min-height: 160px;
}

#container header, .top_left{
	font-family: 'Josefin Slab',Helvetica,Arial,serif;
	position: relative;
	height: auto;
	font-size: 2em;
}
.logo{
	background: url('../images/heimanba.png') no-repeat scroll 0 0 transparent;
	width: 150px;
	height: 150px;
	position: absolute;
	top: -45px;
	left: -10px;
	color: rgb(0, 0, 37);
}

#container > header > div > hgroup > h2, .main_title{
	margin-top: 40px;
	margin-left: 150px;
}

.title > h4, .sub_title {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 0.6em;
	margin-top: 10px;
	margin-left: 150px;
}
/** 首页样式兼容 **/
@media screen and (max-width:959px){
	#container {
		width: 100%;
		padding: 0;
		box-sizing: border-box;
	}

	.logo {
		position: static;
		display: block;
		margin: 0 auto;
		width: 100px;
		height: 90px;
		-webkit-background-size: 80%;
		-moz-background-size: 80%;
		-o-background-size: 80%;
		background-size: 80%;  /*To mininal logo*/
	}
	.main_title {
		margin-top: 0;
		margin-left: 0;
	}

	.top_left > h2 {
		font-size: 0.7em;
		margin: 0 auto;
		display: table;
	}

	.title > h4, .sub_title {
		margin: 0 auto;
		display: table;
		font-size: 0.4em;
	}
}

.top_right{
	position: absolute;
	right: 0px;
	bottom: 40px;
	/* height: 70px; */
	background: url('../images/getRss.png') no-repeat right 0 transparent;
	color: rgb(0, 0, 37);
}

.rss {
	text-indent: -2000px;
	background: url('../images/rss.png') no-repeat scroll 0 0 transparent;
	vertical-align: bottom;
	right: 0px;
}

/** 动画效果 **/
.rss:hover {
	/**-webkit-animation-name: 'action';
	-webkit-animation-duration: .2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 2;**/
	-webkit-animation: action .2s ease-in-out 2;
	-moz-animation: action .2s ease-in-out 2;
	-ms-animation: action .2s ease-in-out 2;
	animation: action .2s ease-in-out 2;
}

.top_right ul li {
	font-size: 1.3em;
	font-weight: bold;
	float: left;
	margin-left: 50px;
	padding-top: 40px;
}

.top_right ul li > a {
	width: 100px;
	height: 30px;
	display: block;
	-webkit-transition: background .2s ease-out;
	-moz-transition: background .2s ease-out;
}

.img_left {
	background: url("../images/blog.png") no-repeat -20px -8px;
}

.img_left:hover {
	background: url("../images/blog.png") no-repeat -20px -80px;
}

.img_right {
	background: url("../images/aboutme.png") no-repeat -5px -8px;
	width: 120px !important;
}

.img_right:hover {
	background: url("../images/aboutme.png") no-repeat -5px -80px;
}

/**
 *  导航栏图标信息 use: http://getbootstrap.com/;
 */
.navbar-toggle {
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;    /**兼容UC浏览器**/
	display: none;
	position: relative;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
}

.menu {
	display: inline-block;
	background-color: #ada588;
	border: 1px solid #cdbfe3;
	color: #fff;
	border-radius: 4px;
	padding: 10px 30px;
}

/**
 *  移动端右边栏
 */
.mobie-top-ul {
	display: none;
}

ul.mobie-top-ul  li{
	font-weight: normal;
	margin: 5px;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}

ul.mobie-top-ul li a {
	display: inline;
}

ul.mobie-top-ul li a:hover {
	text-decoration: underline;
}

/**
 *  媒体查询时显示导航栏
 */
@media screen and (max-width:959px) {
	.top_right {
		position: static;
		background: transparent;
	}

	.navbar-toggle {
		display: block;
	}

	.top_right ul li {
		float: none;
	}

	.pc_top_ul {
			display: none;
	}
}

#container > div {
	border-bottom: 1px dashed #DDD6C5;
	border-left: 1px dashed #DDD6C5;
	border-right: 1px dashed #DDD6C5;
	overflow: hidden;
}

#container > div > section {
	border-right: 1px dashed #DDD6C5;
	width: 70%;
	height: auto;
	display: inline-block;
}
#container > div > section > article {
	padding-bottom: 20px;
	border-bottom: 1px dashed #DDD6C5;
	overflow: hidden;
}

#container > div > section header {
	/*text-align: center;*/
	margin: 20px 0 20px 30px;
	font: 1.6em 'Open Sans',sans-serif;
	font-weight: bold;
}

#container > div > section footer {
	margin: 20px 0 0 30px;
	font-size: 1.1em;
	width: 95%;
}

#container > div > section footer > nav {
	width: 70%;
	float: left;
}

#container > div > section footer a {
	color: #4A75B5;
	background-color: rgba(0, 0, 0, 0);
	/* -webkit-text-shadow: 10px 10px 10px #000;
	-moz-text-shadow: 10px 10px 20px #000;
	text-shadow: 10px 10px 20px #000; */
	font-size: 0.9em;
}

.comment {
	float: right;
}

.sub_arti {
	font-size: 0.5em;
	color: #8F8A7C;
	background-color: rgba(0, 0, 0, 0);
	/*text-align: center;*/
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.sub_arti span {
	font-size: 2em;
	color: black;
}

#container > div > aside {
	width: 29.4%;
	float: right;
	overflow: hidden;
}

#container > div > aside section, .aside_sec{
	border-bottom: 1px dashed #DDD6C5;
	text-align: center;
	overflow: hidden;
}

.aside_sec > header {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.3em;
	color: #555;
	letter-spacing: 3px;
	background-color: rgba(0, 0, 0, 0);
}

.aside_sec > nav {
	margin-bottom: 40px;
}

.aside_sec a {
	text-decoration: underline;
}

/**
 *  移动端container
 */
@media screen and (max-width:959px) {
	#container > div > section {
		width: 100%;
		float: none;
	}
	
	#container > div > aside {
		width: 100%;
		float: none;
	}

	#container > div > aside section.aside_sec {
		display: none;
	}

	#container > div > section header {
		font-size: 0.9em;
		font-weight: bold;
		font-family: Helvetica, Arial, sans-serif;
	}

	#container > div > section footer {
		width: 86%;
		font-size: 0.8em;
	}
}

.post a {
	color: #33B5E5;
	background-color: rgba(0, 0, 0, 0);
	float: left;
	width: 48%;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1.2em;
}

footer {
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
}

footer > div {
	float: left;
	width: 40%;
	margin-left: 70px;
}

footer > div > h1 {
	color: #BBB;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1.5em;
	padding-bottom: 20px;
	border-bottom: 2px solid #444;
	margin-bottom: 25px;
	font-weight: normal;
}

footer > div a {
	color: #5E8DBA;
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0);
}

/**
 * footer 部分
 */
@media screen and (max-width:959px) {
	body > footer {
		display: none;
	}	
}

.changecolor {
	color: rgb(0,0,0);
	background-color: rgba(0, 0, 0, 0);
}

.post {
	position: fixed;
	width: 300px;
	left: 68%;
	bottom: 0%;
}
.noborder {
	border: none !important;
}

/**----------------------------
 *      底部微博部分
 * ----------------------------*/
.share_self {
	width: 100%;
	height: 75px;
	border: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

/**  正文部分  **/
.entry {
    padding-left: 30px;
    padding-right: 30px;
    color: #999;
    background-color: rgba(0, 0, 0, 0);
    line-height: 1.6em;   
}

.entry img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width:959px) {
	.entry {
		font-size: 0.7em;
		color: #000;
		line-height: 1.8em;
	}
	/** 前进后退 **/
	.post {
		position: static;
		width: 100%;
		font-size: 0.9em;
	}
}

.main_content > section > article > header > a:hover {
    color: rgb(33, 182, 238);
    -webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,.5)));
}

.entry h2{
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.entry p {
    line-height: 1.7em;
    margin-bottom: 25px;
}

.entry ul {
    margin-bottom: 20px;
    list-style-type: disc;
    margin-left: 50px;
    line-height: 1.7em;
}

.entry a {
    color: #4A75B5;
    background-color: rgba(0, 0, 0, 0);
}

.entry a:hover {
    text-decoration: underline;
}

.sidemenu {
	position: relative;
}

/** 文章边栏处理 **/
.menulist {
	background-color: #c5ccdd;
	padding: 5% 0 5% 10%;
	width: 100%;
	line-height: 2;
	/*white-space: nowrap;*/
	/*text-overflow: ellipsis;*/ 
}

.menulist_pf {
	position: fixed;
	top: 1%;
	left: 66.5%;
	width: 21%;
	padding: 1.2% 0 1.2% 2.4%;
}

.menulist a {
	color: #4A75B5;
	background-color: rgba(0, 0, 0, 0);
	outline: none;	
}

.menulist li {
	margin-bottom: 7px;
}

.h1 {
	font-size: 1.3em;
}

.h2 {
	font-size: 1em;
	margin-left: 20px;
}

.h3 {
	font-size: 0.8em;
	margin-left: 30px;
}

/**----------------------------
 *      评论模块
 * ----------------------------*/
#disqus_thread {
	width: 64.7%;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px dashed #DDD6C5;
}

/**--------------------------------
 *      搜索模块
 * --------------------------------*/
.search{
	font-size: 1em;
}

.search > ul > li {
	padding-left: 30px;
	margin-top: 20px;
	border-bottom: 1px dashed #DDD6C5;
	padding-bottom: 10px;
}

.search > ul > li a {
	color: #12C;
	background-color: rgba(0, 0, 0, 0);
	font-size: 1.5em;	
	text-decoration: underline;
}

.search > ul > li a:hover {
 	color: rgb(33, 182, 238);
 	background-color: rgba(0, 0, 0, 0);
	-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,.5)));	
}

.searurl {
	color: #093;
	background-color: rgba(0, 0, 0, 0);
}

.seardate {
	color: #666;
	background-color: rgba(0, 0, 0, 0);
}
/*------------------------------------
 *           回到顶部样式
 *------------------------------------*/
a.atop {
	display: none;
}

img.top {
	background-image: url(../images/point-up.png);
	position: fixed;
	top: 700px;
	left: 1100px;
	border: none;   /*避免IE出现边框*/
}

a.atop > img:hover {
	opacity: 0.5;
}

/*------------------------------------
 *           代码高亮
 *------------------------------------*/
pre {
    font-size: 1.2em;
    line-height: 25px;
    padding-left: 30px;
    overflow: auto;
}

pre code {
	color: rgb(0, 0, 37);
    background-color:transparent;
    border:none;
    padding:0;
    word-wrap:normal;
}

pre ol {
    margin-left:25px;
    list-style-type:decimal;
}

/*-----------------------------------
 *		文章信息
 *-----------------------------------*/
 #container > div > section.article header {
 	text-align: center;
 	font-family: "微软雅黑","Arial","Helvetica",sans-serif;
 }

.article .entry {
	color: #000;
	background-color: rgba(0, 0, 0, 0);
}

.articles {
	float: left;
}

nav.type {
	display: none;
}

/*-----------------------------------
 *		lisence
 *-----------------------------------*/
 .lisence {
 	color: #cc0000;
 	background-color: rgba(0, 0, 0, 0);
 	font-weight: bold;
 	text-align: center;
 	margin-top: 20px;
 }

/*-----------------------------------
 *		fork图片样式
 *-----------------------------------*/

.fork img {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

@media screen and (max-width:959px){
	.fork {
		display: none;
	}

	#disqus_thread {
		width: 90%;
		padding: 5%;
	}
}

/** 鼠标经过RSS时效果 **/
@-webkit-keyframes action {
	25% {
		-webkit-transform: translate(-10px, 0);
	}
	50% {
		-webkit-transform: translate(0, 0);
	}
	75% {
		-webkit-transform: translate(10px, 0);
	}
	100% {
		-webkit-transform: translate(0, 0);
	}
}

@-moz-keyframes action {
	25% {
		-moz-transform: translate(-10px, 0);
	}
	50% {
		-moz-transform: translate(0, 0);
	}
	75% {
		-moz-transform: translate(10px, 0);
	}
	100% {
		-moz-transform: translate(0, 0);
	}
}

@keyframes action {
	25% {
		transform: translate(-10px, 0);
	}
	50% {
		transform: translate(0, 0);
	}
	75% {
		transform: translate(10px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}