<!DOCTYPE html>
<!-- 
   @author jackieLin
   @content The index page	
-->
<html dir="ltr" lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- mobie -->
		<meta name="author" content="{{ site.author.name }}" />
		<meta name="keywords" content="jackieLin的学习小站" />
		<meta name="description" content="{{ site.description }}" />
		<!-- 添加rss支持 -->
		<link rel="alternate" type="application/atom+xml" title="Entrites" href="{{ site.feed }}" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />
		<link rel="stylesheet" type="text/css" href="/js/prettify/desert.css" media="all" />
		<!-- load file to let ie8 support html5 tag -->
		<script type="text/javascript" src="/js/h5.js"></script>
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
	</head>
	
	<body>
		{{ content }}
		<!-- js -->
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42459878-1', 'forkme.info');
			ga('send', 'pageview');
		</script>
	</body>
</html>
