---
layout:    default
---
<!-- add fork me icon -->
<nav class="fork">
	<a href="https://github.com/JackieLin/forkme"><img src="../images/forkme_right_red.png" alt="Fork me on GitHub" /></a>
</nav>

<!-- page divide two parts-->
<div id="container">
	<div class="header">
		<header class="top_left">
			<!-- insert logo -->
			<a href="/" class="logo"></a>		
			<h2 class="main_title">Black Manba</h2>
			<h4 class="sub_title">独立 凶狠 渴望 胜利 自由</h4>
		</header>
		<nav class="top_right">
			<button class="navbar-toggle">
				<a class="menu">menu</a>
			</button>
			<ul class="pc_top_ul">
				<li><a href="/" class="img_left"></a></li> 
				<li><a href="/aboutme.html" target="_blank" class="img_right"></a></li>
				<li><a href="http://forkme.info/atom.xml" class="rss">RSS</a></li>
			</ul>
			<ul class="mobie-top-ul">
				<li><a href="/">blog</a></li>
				<li><a href="#">about me</a></li>
			</ul>
		</nav>
	</div>	
	<div class="main_content">
		{{ content }}
	</div>
	<!-- 添加返回到顶部 -->
	<a href="javascript:;" title="回到顶部" class="atop">
		<img alt="回到顶部" title="回到顶部" src="../images/point-up.png" class="top" />
	</a>
</div>
<footer>
	<!-- the left side -->
	<div>
		<h1>Contact</h1>
		<div id="weibo">
			<iframe class="share_self" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=0&amp;height=75&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=0&amp;noborder=0&amp;isWeibo=0&amp;isFans=0&amp;uid=1991242543&amp;verifier=c09974f5&amp;dpc=1"></iframe>
		</div>
	</div>
	<!-- the middle side -->
	<div>
		<h1>Project</h1>
		<nav>
			<ul>
				<li><a href="https://github.com/JackieLin/forkme" target="_blank" title="Forkme - blog to record technoledge">Forkme</a></li>
				<li><a href="https://github.com/JackieLin/Toki" target="_blank" title="Toki - an Incremental update tools">Toki</a></li>
				<li><a href="https://github.com/JackieLin/shell" target="_blank" title="shells I write in Linux">Shell</a></li>
			</ul>
		</nav>
	</div>
</footer>
